.promo {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/images/background-desktop.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  .promo__wrapper {
    padding-top: 102px;

    .promo__info {
      @include alignment(space-between, center, row, nowrap);
      width: 100%;
      height: 100%;
      margin-bottom: 52px;
      font-size: 0;

      .info__item {
        @include font-size(1.2rem, 500);
        color: $primary-text-color;

        span {
          @include font-size(1.2rem, 600);
        }
      }

      .offer {
        width: 210px;
        text-align: center;

        p:first-child {
          margin-bottom: 20px;
        }

        p:last-child {
          padding: 0 10px;
        }
      }

      .link {
        width: 220px;
        text-align: right;

        span {
          a {
            position: relative;
            @extend %transition;

            &::before {
              position: absolute;
              top: 50%;
              left: -60px;
              width: 44px;
              height: 44px;
              content: '';
              border-radius: 50%;
              background-color: $link-bg-color;
              background-image: url('./assets/icons/pdf.svg');
              background-repeat: no-repeat;
              background-position: center;
              background-size: auto;
              box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
              transform: translateY(-50%);
            }

            &::after {
              position: absolute;
              bottom: -4px;
              left: 0;
              width: 100%;
              height: 100%;
              content: '';
              background-image: url('./assets/icons/dot.svg');
              background-position: 0 12px;
              background-size: 5px 2px;
              background-repeat: repeat-x;
            }
          }
        }
      }

      .logo {
        width: 274px;
        height: 148px;

        a {
          display: block;
          width: inherit;
          height: inherit;
          background-image: url('./assets/logo.png');
          background-position: center;
          background-size: 150%;
          background-repeat: no-repeat;
          /* box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.03); */
        }
      }

      .connection {
        @include alignment(center, center, column, nowrap);
        width: 160px;

        p {
          position: relative;
          padding-left: 8px;
          margin-bottom: 14px;

          &::before {
            position: absolute;
            top: 50%;
            left: 0;
            width: 4px;
            height: 4px;
            content: '';
            border-radius: 50%;
            background-color: $dot-bg-color;
            transform: translateY(-50%);
          }
        }

        .messengers {
          @include alignment(center, center, row, nowrap);
          column-gap: 14px;

          li {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;
            @extend %transition;

            &:hover {
              box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
            }

            a {
              @include alignment(center, center, row, nowrap);
              width: inherit;
              height: inherit;
            }
          }

          .viber {
            background-color: $viber-bg-color;
            background-image: url('./assets/icons/viber.svg');
          }

          .whatsapp {
            background-color: $whatsapp-bg-color;
            background-image: url('./assets/icons/whatsapp.svg');
          }

          .telegram {
            background-color: $telegram-bg-color;
            background-image: url('./assets/icons/telegram.svg');
          }
        }
      }

      .jingle {
        @include alignment(center, center, column, nowrap);
        width: 243px;
        text-align: center;

        .time-working {
          margin-bottom: 6px;
        }

        .call-number {
          margin-bottom: 6px;
          @include font-size(2.2rem, 600);
          letter-spacing: 1px;
        }

        .call-button {
          position: relative;
          letter-spacing: 0.5px;
          color: $call-text-color;
          @extend %transition;
          cursor: pointer;

          &::after {
            position: absolute;
            bottom: -6px;
            left: 50%;
            width: 90%;
            height: 100%;
            content: '';
            background-image: url('./assets/icons/dot.svg');
            background-position: 0 12px;
            background-size: 5px 2px;
            background-repeat: repeat-x;
            transform: translateX(-50%);
          }
        }
      }
    }

    .promo__description {
      @include alignment(flex-start, flex-start, row, nowrap);
      column-gap: 70px;
      width: 100%;
      height: 100%;
      font-size: 0;

      .description__advantages {
        z-index: 9;
        position: relative;
        @include alignment(space-between, center, column, wrap);
        width: 225px;
        padding: 36px 26px 0;
        border-radius: 20px;
        @include font-size(1.4rem, 500);
        text-align: center;
        color: $primary-text-color;
        box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
        background-color: $primary-bg-color;

        li {
          padding: 26px 0;
          box-shadow: 0px 30px 30px -30px rgba(34, 60, 80, 0.15);

          span {
            @include font-size(1.4rem, 700);
          }

          &:first-child {
            padding-top: 0;
          }

          &:last-child {
            padding-top: 26px;
          }

          &::before {
            z-index: -1;
            position: absolute;
            top: -10px;
            left: 0;
            width: 100%;
            height: 100px;
            content: '';
            border-radius: 20px;
            transform: skew(0, 5deg);
            background-color: $primary-bg-color;
          }
        }
      }

      .description__preview {
        @include font-size(1.2rem, 500);
        color: $primary-text-color;

        li {
          span {
            font-weight: 600;
          }
        }

        .title {
          width: 645px;
          margin-bottom: 15px;
          @include font-size(5.5rem, 300);
          line-height: 80px;
        }

        .addition {
          position: relative;
          padding-left: 74px;
          margin-bottom: 40px;
          @include font-size(3.2rem, 400);

          &::before {
            position: absolute;
            top: 50%;
            left: 0;
            width: 58px;
            height: 20px;
            content: '';
            background-image: url('./assets/icons/dots.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            transform: translateY(-40%);
          }
        }

        .order {
          @include alignment(flex-start, center, row, wrap);
          column-gap: 18px;
          row-gap: 18px;
          margin-bottom: 34px;
          text-transform: uppercase;

          a {
            position: relative;
            @include alignment(flex-start, center, row, wrap);
            padding-left: 55px;
            border-radius: 500px;
            @include font-size(1.4rem, 600);
            text-align: center;
            color: $order-text-color;
            box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);

            &::after {
              position: absolute;
              top: 50%;
              right: 48px;
              width: 20px;
              height: 20px;
              content: '';
              background-image: url('./assets/icons/arrow.svg');
              background-repeat: no-repeat;
              background-position: center;
              background-size: auto;
              transform: translateY(-40%);
            }

            &:first-child {
              width: 375px;
              height: 100px;
              background-color: $calculation-bg-color;
              @extend %transition;

              &:hover {
                background-color: $calculation-hover-bg-color;
              }
            }

            &:last-child {
              width: 335px;
              height: 100px;
              background-color: $record-bg-color;
              @extend %transition;

              &:hover {
                background-color: $record-hover-bg-color;
              }
            }
          }
        }

        .question {
          position: relative;
          width: 250px;
          padding-left: 42px;
          text-align: center;

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 26px;
            height: 20px;
            content: '';
            background-image: url('./assets/icons/pointer.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
          }
        }
      }
    }
  }
}
