$content-width: 1570px;

$primary-text-color: #1c1c1c;
$call-text-color: #12c868;
$order-text-color: #ffffff;
$policy-text-color: #f38120;
$check-text-color: #f38120;
$input-placeholder-text-color: #a7a7a7;

$calculation-bg-color: #12c868;
$calculation-hover-bg-color: #21e27c;
$record-bg-color: #f38120;
$record-hover-bg-color: #fd9c49;
$check-hover-bg-color: #fd9c49;
$call-hover-bg-color: #fd9c49;
$input-phone-bg-color: #ffffff;
$input-send-bg-color: #f38120;
$close-bg-color: #a0a0a0;

$primary-bg-color: #ffffff;
$link-bg-color: #ffffff;
$dot-bg-color: #12c868;

$border-color: rgba(28, 28, 28, 0.07);

$viber-bg-color: #976fcc;
$whatsapp-bg-color: #12c868;
$telegram-bg-color: #05a0eb;

$link-hover-color: #f38120;
