.header .header__wrapper .header__menu .menu__item a, .promo .promo__wrapper .promo__info .link span a {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body {
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #1c1c1c;
}

.wrapper {
  position: relative;
  max-width: 1570px;
  margin: 0 auto;
}

.header {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background-color: transparent;
}

.header .header__wrapper {
  height: 100%;
  border-bottom: 1px solid rgba(28, 28, 28, 0.07);
}

.header .header__wrapper .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  font-size: 0;
}

.header .header__wrapper .header__menu .menu__item a {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
}

.header .header__wrapper .header__menu .menu__item a:hover {
  color: #f38120;
}

.header .header__wrapper .header__menu:first-child {
  background-image: url("./assets/icons/home.svg");
  background-repeat: no-repeat;
  background-position: center left;
}

.header .header__wrapper .header__menu:first-child .home {
  display: block;
  background-color: transparent;
  width: 23px;
  height: 22px;
}

.promo {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/images/background-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.promo .promo__wrapper {
  padding-top: 102px;
}

.promo .promo__wrapper .promo__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  font-size: 0;
}

.promo .promo__wrapper .promo__info .info__item {
  font-size: 1.2rem;
  font-weight: 500;
  color: #1c1c1c;
}

.promo .promo__wrapper .promo__info .info__item span {
  font-size: 1.2rem;
  font-weight: 600;
}

.promo .promo__wrapper .promo__info .offer {
  width: 210px;
  text-align: center;
}

.promo .promo__wrapper .promo__info .offer p:first-child {
  margin-bottom: 20px;
}

.promo .promo__wrapper .promo__info .offer p:last-child {
  padding: 0 10px;
}

.promo .promo__wrapper .promo__info .link {
  width: 220px;
  text-align: right;
}

.promo .promo__wrapper .promo__info .link span a {
  position: relative;
}

.promo .promo__wrapper .promo__info .link span a:hover {
  color: #f38120;
}

.promo .promo__wrapper .promo__info .link span a::before {
  position: absolute;
  top: 50%;
  left: -60px;
  width: 44px;
  height: 44px;
  content: '';
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url("./assets/icons/pdf.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.promo .promo__wrapper .promo__info .link span a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url("./assets/icons/dot.svg");
  background-position: 0 12px;
  background-size: 5px 2px;
  background-repeat: repeat-x;
}

.promo .promo__wrapper .promo__info .logo {
  width: 274px;
  height: 148px;
}

.promo .promo__wrapper .promo__info .logo a {
  display: block;
  width: inherit;
  height: inherit;
  background-image: url("./assets/logo.png");
  background-position: center;
  background-size: 150%;
  background-repeat: no-repeat;
  /* box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.03); */
}

.promo .promo__wrapper .promo__info .messages {
  width: 160px;
}

.promo .promo__wrapper .promo__info .jingle {
  width: 243px;
}
/*# sourceMappingURL=style.css.map */