html {
  font-size: 10px;
}

body {
  @extend %font;
  @include font-size(1.6rem, 500);
  background-color: $primary-bg-color;
}

a {
  text-decoration: none;
  color: $primary-text-color;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

input {
  outline: none;
  border: none;
}
